.content {
  /* Do NOT remove the z-index variable. It is being used in the hook file. */
  --cp-popover-z-index: var(--cp-z-index-default);
  --cp-popover-transform-offset-normal: 5px;
  --cp-popover-transform-offset-inverse: -5px;

  /* ================================
   * Default Styles
   * ================================ */
  z-index: var(--cp-popover-z-index);
  border-radius: var(--cp-base-border-radius-large);

  .wrapper {
    border-radius: inherit;
    background: var(--cp-base-color-flat);
    box-shadow: var(--cp-base-elevation-high);
    min-width: 1rem;
    min-height: 1rem;
    overflow: hidden;
    transition-property: opacity, transform;
    transition-timing-function: ease-out;

    &[data-status='open'],
    &[data-status='close'] {
      transition-duration: var(--cp-duration-xfast);
    }

    &[data-status='initial'],
    &[data-status='close'] {
      transition-timing-function: ease-in;
      opacity: 0;
    }

    &[data-status='initial'][data-placement^='top'],
    &[data-status='close'][data-placement^='top'] {
      transform: translateY(var(--cp-popover-transform-offset-normal));
    }

    &[data-status='initial'][data-placement^='bottom'],
    &[data-status='close'][data-placement^='bottom'] {
      transform: translateY(var(--cp-popover-transform-offset-inverse));
    }

    &[data-status='initial'][data-placement^='left'],
    &[data-status='close'][data-placement^='left'] {
      transform: translateX(var(--cp-popover-transform-offset-normal));
    }

    &[data-status='initial'][data-placement^='right'],
    &[data-status='close'][data-placement^='right'] {
      transform: translateX(var(--cp-popover-transform-offset-inverse));
    }
  }
}
